{% extends "dashboard.html" %}
{% block style %}

<style>
   .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 800px;
     margin: auto;
     text-align: center;
     font-family: arial;
   }
   
   .title {
     color: grey;
     font-size: 18px;
   }
   
   me {
     border: none;
     outline: 0;
     display: inline-block;
     padding: 8px;
     color: white;
     background-color: #000;
     text-align: center;
     cursor: pointer;
     width: 100%;
     font-size: 18px;
   }
   
   a {
     text-decoration: none;
     font-size: 22px;
     color: black;
   }
   
   me:hover, a:hover {
     opacity: 0.7;
   }
   </style>
{% endblock style %}

{% block content %}


<h2 style="text-align:center">Hi Profile Card</h2>

<div class="card">
  <img src="{{ user.profile_picture.url }}" alt="John" style="width:100%">
  <h1>{{user.username}}</h1>
  <p class="title">{{ user.gender }}</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 

  </div>

  <p><a href="{% url 'editprofile' %}">Edit Profile</a></p>
  <p><a href="">View Profile</a></p>
</div>


{% endblock content %}